.light-theme {
  background-color: #ffffff;
  color: #000000;
}

.dark-theme {
  background-color: #1a1a1a;
  color: #ffffff;
}

.dark-theme .carousel-item {
  background-color: #2a2a2a;
}

.dark_mode_label {
  cursor: pointer;
}

.dark_mode_input {
  display: none;
}

